@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400&display=swap");
html {
  font-family: "Tajawal", sans-serif;
}
:root {
  --navColor: #e9ebee;
}
.breadcrumb {
  margin-top: 30px;
  border: 1px solid var(--navColor);
  border-radius: 5px;
  height: 40px;
  background-color: var(--navColor);
}
.card {
  height: 650px;
}
.paginations {
  margin-top: 30px;
  width: 100%;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .card {
    margin-top: 20px;
  }
}
.dark-mode {
  background-color: black;
}
.light-mode {
  background-color: white;
  color: black;
}
